.content {
    flex: 1;
    padding: 3em;
    min-height: 100vh;
    color: var(--primary-text-colour);
}

.content h2 {
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--primary-background-highlighted-colour);
}

.content h3 {
    font-size: 1.35em;
    margin-bottom: 10px;
}