.sidebar{
    background: var(--secondary-background-colour);
    width: 270px;
    height: 100vh;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

.header {
    text-align: center;
    font-size: 1.8em;
}

.header h2 {
    display: inline-block;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid var(--primary-accent-colour);
    width: fit-content;
}

#arr {
    color: var(--primary-accent-colour);
}

#sidebar-content {
    padding-top: 30px;
}

nav ul {
    list-style: none;
    user-select: none;
}

nav li {
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 20px 10px;
    text-align: center;
    background-color: var(--secondary-background-highlighted-colour);
    border-radius: 12px;
    transition: background-color 300ms ease, box-shadow 300ms ease
}

nav li.active {
    background-color: var(--secondary-accent-colour);
}

nav li:hover {
    background-color: var(--primary-background-colour);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

nav li.active:hover {
    background-color: var(--secondary-accent-colour);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

nav ul li a {
    text-decoration: none;   
    color: var(--primary-text-colour);
}

