.connections-container {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--primary-background-highlighted-colour);
}

.connection {
    display: grid;
    padding: 0px 5px 0px 5px;
    grid-template-columns: 70px 1fr auto;
    column-gap: 10px;
    margin-bottom: 15px;
}

.connection-text {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    font-weight: 600;
    font-size: 1.1em;
}

.connection-input-box-container {
    grid-row: 1;
    grid-column: 2;
    max-width: 700px;
    display: flex;
    position: relative;
}

.connection-input-box {
    width: 400px;
    background: var(--primary-input-box-colour);
    color: var(--primary-text-colour);
    outline: none;
    border: 2px solid var(--secondary-background-colour);
    padding: 6px 10px 6px 10px;
    font-size: 1em;
    position: relative;
    z-index: 3;
}

.connection-action-wrapper {
    position: relative;
}

.connection-save {
    align-self: center;
    margin-left: 7px;
    padding: 6px 10px 6px 10px;
    font-size: 1em;
    border-radius: 13px;
    background: var(--secondary-accent-colour);
    color: var(--secondary-background-colour);
    border: 2px solid var(--secondary-background-colour);
    user-select: none;
}

.connection-buttons {
    display: flex;
    position: absolute;
    z-index: 1;
    transition: transform 0.5s ease;
}

.connection-buttons.hide {
    transform: translateX(-100%);
}

.connection-save:hover {
    box-shadow: var(--box-shadow);
    background: var(--primary-accent-colour);
    cursor: pointer;
}

.connection-cancel {
    align-self: center;
    margin-left: 7px;
    padding: 6px 10px 6px 10px;
    font-size: 1em;
    border-radius: 13px;
    background: var(--primary-cancel-button-background-colour);
    border: 2px solid var(--secondary-background-colour);
    user-select: none;
}

.connection-cancel:hover {
    box-shadow: var(--box-shadow);
    background: var(--secondary-cancel-button-background-colour);
    cursor: pointer;
}

.connection-test {
    align-self: center;
    margin-left: 7px;
    padding: 6px 10px 6px 10px;
    font-size: 1em;
    border-radius: 13px;
    background: var(--secondary-accent-colour);
    color: var(--secondary-background-colour);
    border: 2px solid var(--secondary-background-colour);
    user-select: none;
    position: absolute;
    transition: transform 0.5s ease;
    z-index: 2;
}

.connection-test.hide {
    transform: translateX(-115%);
}

.connection-test:hover {
    box-shadow: var(--box-shadow);
    background: var(--primary-accent-colour);
    cursor: pointer;
}

.connection-input-box:focus {
    border: 2px solid var(--secondary-accent-colour);
}

.connection-description {
    grid-row: 2;
    grid-column: 2;
    font-style: italic;
    color: var(--secondary-text-colour);
    padding-left: 5px;
}